.common-layout {
    position: relative;
    height: 95vh;
}

.header {
    justify-content: space-between;
    display: flex;
}

.title {
    color: rgb(5, 12, 24);
    font-size: 200%;
    font-family: '楷体';
    line-height: 60px;
}

.right_tool {
    line-height: 60px;
    font-size: large;
    font-family: 'kaiti';
}

a {
    color: rgba(13, 14, 12, 0.788);
    text-decoration: none;
}

.aside {
    width: 200px;
}

@media (max-width: 1000px) {
    .aside {
        display: none;
    }
}